
:root {
    --color-k: #393E41;
    --color-w: #F6F7EB;
    --color-r: #FA6982;
    --color-g: #44BBA4;
    --color-b: #3F88C5;
}

body {
    background-color: var(--color-k);
    color: var(--color-w);
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: var(--color-b);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header img {
    height: 64px;
    margin: 5px 20px;
}
nav {
    margin-right: 20px;
}
nav a {
    color: var(--color-w);
    font-size: 1.4rem;
    padding: 25px 25px;
    margin: 5px;
}

main {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 1200px;
}
#context {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#main-img {
    width: 128px;
    margin: 0 auto;
}
.p-type-bug {background-color: #91A119;}
.p-type-dark {background-color: #50413F;}
.p-type-dragon {background-color: #5060E1;}
.p-type-electric {background-color: #FAC000;}
.p-type-fairy {background-color: #EF70EF;}
.p-type-flying {background-color: #81B9EF;}
.p-type-fighting {background-color: #FF8000;}
.p-type-fire {background-color: #E62829;}
.p-type-grass {background-color: #3FA129;}
.p-type-ghost {background-color: #704170;}
.p-type-ground {background-color: #915121;}
.p-type-ice {background-color: #3FD8FF;}
.p-type-normal {background-color: #9FA19F;}
.p-type-poison {background-color: #9141CB;}
.p-type-psychic {background-color: #EF4179;}
.p-type-rock {background-color: #AFA981;}
.p-type-steel {background-color: #60A1B8;}
.p-type-water {background-color: #2980EF;}

#locations {
    max-width: 400px;
    margin: 30px auto 50px;
    text-align: left;
}

footer {
    text-align: center;
}