
:root {
    --color-k: #393E41;
    --color-w: #F6F7EB;
    --color-r: #FA6982;
    --color-g: #44BBA4;
    --color-b: #3F88C5;
}

body {
    background-color: var(--color-g);
    color: var(--color-w);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: var(--color-b);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header img {
    height: 64px;
    margin: 2px 20px;
}
nav {
    margin-right: 20px;
}
nav a {
    color: var(--color-w);
    font-size: 1.4rem;
    padding: 15px 25px;
    margin: 5px;
    background-color: var(--color-k);
}

main {
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 96%;
    max-width: 1200px;
    background-color: var(--color-k);
}
#context {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}
#main-img {
    width: 192px;
    margin: 0 auto;
    object-fit: scale-down;
}
.p-type-bug {background-color: #91A119;}
.p-type-dark {background-color: #50413F;}
.p-type-dragon {background-color: #5060E1;}
.p-type-electric {background-color: #FAC000;}
.p-type-fairy {background-color: #EF70EF;}
.p-type-flying {background-color: #81B9EF;}
.p-type-fighting {background-color: #FF8000;}
.p-type-fire {background-color: #E62829;}
.p-type-grass {background-color: #3FA129;}
.p-type-ghost {background-color: #704170;}
.p-type-ground {background-color: #915121;}
.p-type-ice {background-color: #3FD8FF;}
.p-type-normal {background-color: #9FA19F;}
.p-type-poison {background-color: #9141CB;}
.p-type-psychic {background-color: #EF4179;}
.p-type-rock {background-color: #AFA981;}
.p-type-steel {background-color: #60A1B8;}
.p-type-water {background-color: #2980EF;}

#locations {
    max-width: 400px;
    margin: 30px auto 50px;
    padding: 0 20px;
    text-align: left;
}

footer {
    text-align: center;
    background-color: var(--color-k);
    width: 96%;
    padding: 5px 10px;
    margin: 10px auto;
    box-sizing: border-box;
    font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
    body {
        margin: 8px;
    }
    main {
        margin: 20px auto;
        width: 90%;
    }
    header img {
        margin: 5px 20px;
    }
    nav a {
        padding: 25px;
    }
    #context {
        flex-direction: row;
        width: 60%;
    }
    footer {
        width: 90%;
    }
}