
* {
    box-sizing: border-box;
}
body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}
img {
    max-width: 100%;
}
.main-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}
hr {
    margin-top: 50px;
}

.media-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media screen and (min-width: 800px) {
    .media-card {
        flex-direction: row;
        column-gap: 20px;
        flex-basis: 48%;
    }
    .gallery {
        flex-flow: row wrap;
        justify-content: space-between;
    }
}