@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    padding: 20px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
header img {
    height: 160px;
}
h1, h2 {
    font-family: "Amatic SC", Arial, sans-serif;
}
h1 {
    font-size: 6rem;
    margin-block-end: 0.4em;
}
#search-bar, .gallery-recipe {
    border: 2px solid black;
    /* box-shadow: 1px 1px 2px darkgray; */
    border-radius: 8px;
}
#search-bar {
    display: flex;
    padding: 5px;
    height: 46px;
    align-items: center;
}
#search-bar input {
    border: none;
    border-right: 1px solid darkgray;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    margin-right: 7px;
}
#search-bar input:focus-visible {
    outline: none;
}
#search-submit {
    height: 100%;
    width: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    /* cursor: pointer; */
}
#search-submit img:hover {
    rotate: 10deg;
    transition: 0.2s;
}
#search-submit img {
    height: 100%;
}
hr {
    margin: 16px -1px;
}
#gallery {
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}
.gallery-recipe {
    display: flex;
    flex-direction: column;
    padding: 22px 22px 30px;
    row-gap: 4px;
}
.recipe-tags {
    padding: 0;
    margin: 0;
    display: flex;
    /* column-gap: 2px; */
}
.recipe-tags li {
    list-style: none;
    padding: 4px 3px;
    border: 1px solid darkgray;
    background-color: #efefef;
    border-radius: 2px;
    width: fit-content;
    font-size: 1.4rem;
    text-align: center;
    align-content: center;
}
.gallery-recipe img {
    width: 100%;
}
.gallery-recipe h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #1394dd;
}
.gallery-recipe .rating {
    font-size: 1.2rem;
}
.recipe-description {
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
    margin: 28px 0;
    row-gap: 20px;
}
#media-icons {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}
#media-icons img {
    height: 40px;
}
footer {
    text-align: center;
}

@media screen and (min-width: 760px) {
    .gallery-recipe {
        flex-direction: row;
        column-gap: 20px;
    }
    .gallery-recipe img {
        height: auto;
        width: auto;
        max-height: 320px;
        max-width: 40vw;
        object-fit: cover;
    }
    .recipe-description {
        display: block;
    }
    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
